body{
    background-color: rgb(225, 225,225);
}
h1{
    margin-left: 40%;
}
h2{
    margin-left: 25%;

}
.header{
    background-color: cadetblue;
    border: solid;
    display: block;

}
.header img{
margin-left: 41%;
background-color: #C2A073;
 }
.menu{
    float: right;

    
}
    
.menu a {
    font-size: 25px;
    margin-left: 20px;
    color: white;
        margin-bottom:10px;
}
.rw:{
    display: table;
    background-color: cadetblue;
    clear: both;
    
}
.col1{
    float:left;
width:30%
}
.col2{
    float:right;
width:70%
}
